<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://www.tapeciarnia.pl/tapety/normalne/193791_radosne_dzieci_w_okularach_laka.jpg"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
                <h2>Rejestracja </h2>

              <form #RegisterForm="ngForm" (ngSubmit)="RegisterUser(RegisterForm.value)" class=" px-md-3 "> 

                <div class="form-floating mb-3">
                    <input type="text" class="form-control " name="email" id="floatingInput" [(ngModel)]="email" placeholder="Email"  required  ngModule>
                    <label for="floatingInput">Email </label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Login" [(ngModel)]="login" name="login" id="login" required ngModule>
                    <label for="login">Login</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" [(ngModel)]="password" placeholder="Hasło"  required ngModule>
                    <label for="floatingPassword">Hasło</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Imię" [(ngModel)]="first_name" name="first_name" id="first_name"  required ngModule>
                    <label >Imię</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Nazwisko" [(ngModel)]="last_name" name="last_name" id="last_name"  required ngModule>
                    <label >Nazwisko</label>
                </div>

                <div class="form-floating mb-5">
                    <input type="date" class="form-control" placeholder="Data Urodzenia" [(ngModel)]="birth_date" name="birth_date" id="birth_date"  required ngModule>
                    <label >Data Urodzenia</label>
                </div>             
  
                <button type="submit"  class="btn btn-success btn-lg mb-1">Zarejestruj</button>
  
              </form>
              
  
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
