<section class="h-100 h-custom" style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://www.radosnemaluchy.eu/images/banner_header.jpg"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
                
 <!--  -->
              <form #LoginForm="ngForm" (ngSubmit)="LoginUser(LoginForm.value)" class=" px-md-3 "> 

                <div class="form-floating mb-3">
                    <input type="email" class="form-control " name="email" id="floatingInput" [(ngModel)]="email" placeholder="Email"  required  ngModule>
                    <label for="floatingInput">Email </label>
                  </div>                  
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" name="password" [(ngModel)]="password" placeholder="Hasło"  required ngModule>
                    <label for="floatingPassword">Hasło</label>
                  </div>                            
  
                <button type="submit"  class="btn btn-success btn-lg mb-1 "  >Log in</button>
                <button  type="button"  class="btn btn-success btn-lg mb-1 mx-2 " routerLink="register">Register</button>
              </form>
              
  
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
