<table class="table table-striped" *ngIf="OfferList.length!=0" >
    <thead>
        <tr>
            <th>Id Oferty</th>
            <th>User id</th>
            <th>Lokalizacja</th>                       
            <th>Początek Dostępności</th>
            <th>Koniec Dostępności</th>  
            <th>Grupa wiekowa</th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of OfferList">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.user}}</td>
            <td>{{dataItem.localization}}</td>          
            <td><time   [dateTime]="dataItem.av_start">{{ dataItem.av_start | date:'dd/MM/yyyy'}}</time></td>           
            <td><time   [dateTime]="dataItem.av_end">{{ dataItem.av_end | date:'dd/MM/yyyy'}}</time></td> 
            <td>
                <p *ngIf="dataItem.babies==true"> Niemowlęta 0-2 </p>
                <p *ngIf="dataItem.kids==true"> Dzieci 2+ </p>
                <p *ngIf="dataItem.old==true"> Dorośli 50+ </p>            
            </td>
            <td>
                <button type="button" (click)="edytujoferte(dataItem.id)" class="btn btn-light mr-2"> Edytuj </button>
                <button type="button" (click)="stronaoferty(dataItem.id)" class="btn btn-light "> Wybierz </button>                
            </td>
    
        </tr>
    </tbody>
    
    </table>

    <h3 class="text-center mt-5 font-weight-bold" *ngIf="OfferList.length==0"> Nie dodałeś jeszcze żadnych ofert.</h3>
    <h3 class="text-center mt-2 " *ngIf="OfferList.length==0"> Jeśli chcesz to zmienić przejdź do zakładki "Dodaj Ofertę" :D</h3>
    
  