header {
    width: 100%;
    background-image: url('https://www.tapeciarnia.pl/tapety/normalne/193791_radosne_dzieci_w_okularach_laka.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    }